:root{
    --ff-primary: 'Staatliches', cursive;
    font-size:10px ;
    --ff-secondary:'Poppins', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E6E6F0;
}
header{
    width: 750px;
    margin: 0 auto;
    margin-top:14rem ;
    margin-bottom: 58px;
    color: #ffffff;
}
header div{
    width: 417px;
}
header p{
    font-family: var(--ff-secondary);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
header h1{
    font-family: var(--ff-primary);
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 60px;
}
body::before{
    content: '';
    width: 100%;
    height: 436px;
    background-color: #535971;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
form{
    width: 750px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 64px;
    border-radius:20px 20px 0 0 ;
    display: flex;
    flex-direction: column;
    gap:30px;
}
fieldset {
    border : 0;
    display: flex;
    flex-direction: column;
    gap:16px;
}
legend{
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom:16px ;
    margin-bottom: 36px;
    font-size: 2.4rem;
    font-family: var(--ff-primary);
    
    font-weight: 400;
}
.name-wrapper{
    display: flex;
    gap: 22px;
    width: 100%;
    max-width: 622px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    gap:8px;
    width: 100%;
    font-size:1.6rem;
    font-family: var(--ff-secondary);
}
.input-wrapper input{
    height: 56px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 8px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}
.input-wrapper label span{
    color: #C1BCCC;
}
.input-wrapper label{
    display: flex;
    gap: 5px;
}
.date-wrapper{
    display: flex;
    gap:32px
}
.time-wrapper{
    display: flex;
    gap:10px;
}
.title-hour{
    display: flex;
    flex-direction: column;

}
.title-hour legend{
    border: none;
    padding-bottom: 8px;
    margin-bottom: 0;
}
footer{
    max-width: 750px;
    margin: 0 auto;
    background-color: #535971;
    padding: 52px 71px;
    border-radius: 0 0 8px 8px ;
    margin-bottom: 200px;
}
footer input{
    background-color: #FF5374;
    padding: 15px ;
    width: auto;
    border: none;
    width: 100%;
    border-radius: 20px;
    font-family: Staatliches;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;   
}
footer input:hover{
    background-color:#f5234d ;
}